@font-face {
  font-family: "PlusJakartaSans";
  src: url("/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf")
    format("woff2");
  font-weight: 100 900;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "PlusJakartaSans";
  background-color: "hsl(0, 0%, 100%)";
  margin: 8px;
}

li {
  list-style: none;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: hsl(219, 85%, 26%);
}

* {
  box-sizing: border-box;
  font-weight: 500;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
